<nav class="navbar" id="navbar-main">
    <ul class="navbar-list">
        <li class="navbar-brand">
            <a href="/">
                <img id="logo" src="/img/icon.png" alt="iDiet"/>
            </a>
        </li>
        <li class="sidebar-mobile-icon-holder">
            <div class="icon-wrapper">
                <div class="sidebar-button"></div>
                <div class="circle icon">
                    <span class="line top"></span>
                    <span class="line middle"></span>
                    <span class="line bottom"></span>
                </div>
            </div>
        </li>
    </ul>
</nav>
<div class='side sidebar'>
    <ul class='side sidenav-list'>
        <li class='side sidenav-holder'>
            <button class="navbtn" id="dash-btn" onclick="location.href='/';">My Diet Plan</button>
        </li>
        <li class='side sidenav-holder'>
            <button class="navbtn" id="profile-btn" onclick="location.href='/profile';">Profile</button>
        </li>
        <li class='side sidenav-holder'>
            <button class="navbtn" id="search-btn" onclick="location.href='/search';">Search</button>
        </li>
        <li class='side sidenav-holder'>
            <button class="navbtn" id="logout-btn" onclick="location.href='/logout';">Logout</button>
        </li>
    </ul>
</div>
<div class="unfocused"></div>
<script type="text/javascript"
        src="/js/base.js">
</script>