/* Table of Contents:
––––––––––––––––––––––––––––––––––––––––––––––––––
- Base Style
- Navigation Bar
- Table
*/

/* Base Style
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f3f3f3;
}

a {
  text-decoration: underline;
}

::selection {
  background: #e1e1e1;
}

::-moz-selection {
  background: #e1e1e1;
}

.header {
  text-align: center;
  font-weight: 600;
  font-size: 35px;
}

/* Navigation Bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navbar {
  padding-top: 5px;
  background: #2c6547;
  height: 56px;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
  width: 100%;
  position: absolute;
  height: 60px;
}

.sidenav-list {
  list-style: none;
  position: absolute;
}

.navbar-brand {
  height: 50px;
  font-weight: 600;
  text-decoration: none;
  line-height: 5rem;
  color: #000033;
  font-size: 20px;
  position: relative;
  margin: 3px 0px 0px 10px;
  width: 200px;
  display: inline-block;
}

#logo {
  height: 45px;
  cursor: pointer;
}

/* navbar list links */
.navbar-link {
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  line-height: 5rem;
  color: white;
}

/* Menu Buttons */
.navbtn {
  border-radius: 0;
  background: transparent;
  color: white;
  padding: 0 10px;
  font-size: 12pt;
  border: none;
  cursor: pointer;
  height: unset;
  width: unset;
  text-align: center;
  margin: 5px 5px;
}

.navbtn:hover {
  margin-bottom: 2px;
  border-bottom: 3px solid #73f287;
  background: transparent;
}

.sidebar-mobile-icon-holder {
  display: none;
  cursor: pointer;
  padding: 10px 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 175px;
  left: -325px;
  top: 61px;
  background: #2c6547;
  color: white;
  z-index: 1000;
}

.navbar-brand {
  margin-left: 15px;
}

.navbar-list {
  text-align: center;
}

.sidebar-mobile-icon-holder {
  display: inline-block;
  z-index: 500;
  height: 50px;
  width: 50px;
}

div.unfocused {
  display: none;
  background: #0000004a;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 900;
}

/* Sidebar Icon Animation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.icon-wrapper {
  height: 30px;
  width: 30px;
}

.circle {
  width: 30px;
  height: 30px;
  position: relative;
}

.line {
  position: absolute;
  height: 5px;
  width: 100%;
  background: white;
  border-radius: 4px;
  transition: all cubic-bezier(0.26, 0.0, 0.27, 0.0) 0.2s;
}

.top {
  top: 18%;
}

.middle {
  top: 48%;
}

.bottom {
  top: 78%;
}

.icon.close .top {
  transform: rotate(45deg);
  top: 48%;
}

.icon.close .middle, .icon.close .bottom {
  transform: rotate(-45deg);
  top: 48%;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.form-holder {
  height: 60%;
  position: relative;
}

input.text {
  background: white;
  border: 1px solid #ddd;
  color: #333;
  font-size: 13.5pt;
  height: 35px;
  border-radius: 15px;
  margin: 0;
  padding: 2px 6px;
  width: 100%;
}

input.text.short {
  width: 50%;
}

div.form-field {
  margin-bottom: 15px;
}

div.form-field.err-field {
  margin-bottom: 0;
}

/* Form Error Messages
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.errorBox {
  color: #8c2a2a;
  background: #ffdfdf;
  padding: 1% 5%;
  border: solid 1px #b37a7a;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  top: 2%;
  width: 65%;
  max-width: 240px;
  text-align: center;
}

.errorMsg {
  display: block;
  color: #ff6363;
  padding: 0 6px;
  font-size: 11pt;
}
