.homepage-wrapper
{
  position: absolute;
  top: 61px;
  padding: 20px;
  width: calc(100% - 40px);
}

.homepage-header
{
  margin-bottom: 1em;
}

.meal-wrapper
{
  display:inline-block;
  position: relative;
  width: 29%;
  margin: calc(10% / 6);
}

.meal-holder
{
  position: absolute;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  background:white;
  padding: 10px 10px;
}

.meal-title
{
  font-size: 9pt;
}

.meal-info
{
  font-size: 8pt;
}

.date-title
{
  margin: 20px 0 0;
  padding: 0 20px;
}

.thumbnail
{
  display:block;
  max-width:90%;
  margin: auto;
}
.meals
{
  position: absolute;
  top: 140px;
  width: 100%;
}
.meal-row
{
  height: 275px;
  width: 95%;
  margin: auto;
  border-bottom: 1px #bbb solid;
}

#cost
{
  text-align: center;
  color: #39bd62;
  font-weight: bold;
  font-size: 11pt;
}

@media (min-width: 600px) {
  .meal-row
  {
    height: 350px;
  }
  .meal-title
  {
    font-size: 12pt;
  }

  .meal-info
  {
    font-size: 9pt;
  }
}