.start-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.start-page-holder {
  padding: 10%;
  background: #2c6547;
  height: 30%;
  position: relative;
}
.logo {
  width: 80%;
  max-width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.form-holder {
  height: 60%;
  position: relative;
}
.login-form {
  width: 70%;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin:0;
}
.back-btn {
  cursor: pointer;
  background: url(/img/left-arrow-green.png);
  background-size: 35px 35px;
  width: 50px;
  height: 50px;
  margin: 5px;
  background-repeat: no-repeat;
  background-position: center;
}