body {
  background: #2c6547 !important;
}
.logo-top-center {
  position:absolute;
  top:0;
  left:50%;
  transform: translate(-50%, 0%);
  margin-top: 8px;
}

.start-page-holder {
  height: 50px;
  padding: 8px;
}

.start-wrapper {
  background: #2c6547;
  color: white !important;
}

.signup-form {
  width: 70%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 0;
}

.back-btn {
  background: url(/img/left-arrow-white.png) no-repeat center;
  background-size: 40px 40px;
}

.form-holder {
  margin-top: 30px;
  height: calc(100% - 90px);
  font-size: 13.5pt;
}

.label {
  display: block;
  margin-bottom: 3px;
}

input[type="submit"] {
  float: right;
  bottom: 20px;
  right: 0;
}