<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <% include ../partials/head %>
  <link rel="stylesheet" type="text/css" 
  href="/css/profile.css">
</head>
<body>
  <% include ../partials/header %>
</body>

</html>