<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <% include ../partials/head %>
  <link rel="stylesheet" type="text/css" 
  href="/css/home.css">
</head>
<body>
  <% include ../partials/header %>
  <div class="homepage-wrapper">
    <h1>Hello John!</h1>
    <h4>Your meal today is:</h4>
    <div class="meal-wrapper">
      <div class="meal-holder">
        <img class="thumbnail" src="/img/spaghetti.jpg">
        <div class="meal-caption">
          <div class="meal-title">Spaghetti</div>
          <div class="meal-info">
            <div id="calories"><b>Calories:</b> 400</div>
            <div id="cost"><b>Cost:</b> $12</div>
          </div>
        </div>
      </div>
    </div>
    <div class="meal-row">
      <div class="meal-wrapper small">
        <div class="meal-holder small">
          <img class="thumbnail small" src="/img/quinoa_salad.jpg">
          <div class="meal-caption small">
            <div class="meal-title small">Quinoa</div>
            <div class="meal-info small">
              <div id="calories"><b>Calories:</b> 400</div>
              <div id="cost"><b>Cost:</b> $12</div>
            </div>
          </div>
        </div>
      </div>
      <div class="meal-wrapper small">
        <div class="meal-holder small">
          <img class="thumbnail small" src="/img/avocado_turkey_club_sandwich.jpg">
          <div class="meal-caption small">
            <div class="meal-title small">Avocado Turkey Club Sandwich</div>
            <div class="meal-info small">
              <div id="calories"><b>Calories:</b> 400</div>
              <div id="cost"><b>Cost:</b> $12</div>
            </div>
          </div>
        </div>
      </div>
      <div class="meal-wrapper small">
        <div class="meal-holder small">
          <img class="thumbnail small" src="/img/spaghetti.jpg">
          <div class="meal-caption small">
            <div class="meal-title small">Spaghetti</div>
            <div class="meal-info small">
              <div id="calories"><b>Calories:</b> 400</div>
              <div id="cost"><b>Cost:</b> $12</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>