<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css"
          href="/css/home.css">
    <script type="text/javascript"
            src="/js/home.js">
    </script>
</head>
<body>
<% include ../partials/header %>
<div class="homepage-wrapper">
    <h1>My Diet Plan</h1>
</div>
<!--This section is populated by client-side JS in /static/js/home.js-->
<div class="meals">
</div>
<input id="email" type="hidden" value="<%- email %>">
</body>

</html>