<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <% include ../partials/head %>
  <link rel="stylesheet" type="text/css" 
  href="/css/home.css">
</head>
<body>
  <% include ../partials/header %>
  <div class="homepage-wrapper">
    <h1>Hello John!</h1>
    <h4>Your meals today are:</h4>
    <div class="meal-wrapper">
      <div class="meal-holder">
        <img class="thumbnail" src="/img/fruit_salad.jpg">
        <div class="meal-caption">
          <div class="meal-title">Fruit Salad</div>
          <div class="meal-info">
            <div id="calories"><b>Calories:</b> 400</div>
            <div id="cost"><b>Cost:</b> $8</div>
          </div>
        </div>
      </div>
    </div>
    <div class="meal-wrapper">
      <div class="meal-holder">
        <img class="thumbnail" src="/img/avocado_turkey_club_sandwich.jpg">
        <div class="meal-caption">
          <div class="meal-title">Avocado Turkey Club Sandwich</div>
          <div class="meal-info">
            <div id="calories"><b>Calories:</b> 400</div>
            <div id="cost"><b>Cost:</b> $10</div>
          </div>
        </div>
      </div>
    </div>
    <div class="meal-wrapper">
      <div class="meal-holder">
        <img class="thumbnail" src="/img/spaghetti.jpg">
        <div class="meal-caption">
          <div class="meal-title">Spaghetti</div>
          <div class="meal-info">
            <div id="calories"><b>Calories:</b> 500</div>
            <div id="cost"><b>Cost:</b> $12</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>