<!DOCTYPE html>
<html>

<head>
  <title>Sign Up</title>
  <% include ../partials/head %>
  <link rel="stylesheet" type="text/css" 
    href="/css/login.css">
  <link rel="stylesheet" type="text/css"
        href="/css/signup.css">
  <script type="text/javascript" src="js/signup.js">

  </script>
</head>
<body style="background: #fff">
  <div class="login-wrapper">
      <div class="start-page-holder">
        <div class="back-btn"></div>
        <img id="logo" class="logo-top-center" src="/img/icon.png">
      </div>
      <div class="form-holder">

        <form enctype="application/x-www-form-urlencoded" method="post" class="signup-form">
            <div class="login-header">
              <h3>Sign Up</h3>
              <h5>To get started, please enter your personal information below.</h5>
            </div>
            <div style="font-size: 13.5pt;">
              <span class="label">Username:</span>
              <input name="username" class="text" type="text">
              <span class="label">Password:</span>
              <input name="password" class="text" type="password">
              <span class="label">First Name:</span>
              <input name="firstname" class="text" type="text">
              <span class="label">Last Name:</span>
              <input class="text" type="text" name="lastname">
              <span class="label">Height:</span>
              <input name="height short" id="height" class="text" type="tel" pattern="[0-9]*" novalidate>
              <span class="label">Weight:</span>
              <input name="weight" class="text short" type="tel" pattern="[0-9]*" style="display:inline-block;"> LBS
              <br>
              <span class="label">Age:</span>
              <input name="age" id="age" class="text short" type="tel" pattern="[0-9]*" style="width: 50%;height: 35px;">
              <span class="label">Email:</span>
              <input class="text" type="text" name="email">
              <span class="label">Phone Number:</span>
              <input name="phone" class="text" type="text">
            </div>
            <br>
            <input type="submit" value="Next" style="width: 120px;">
        </form>
      </div>
  </div>

</body>

</html>