<!DOCTYPE html>
<html>

<head>
  <title>iDiet</title>
  <% include ../partials/head %>
  <link rel="stylesheet" type="text/css"
        href="/css/login.css">
  <link rel="stylesheet" type="text/css"
        href="/css/start.css">
  <script type="text/javascript"
          src="/js/start.js">
  </script>
</head>
<body style="background: #fff">
<div class="login-wrapper">
  <div class="start-page-holder" style="<%=locals.action? 'height:30%':'' %>">
    <img class="logo" src="/img/logo.png" style="<%=locals.action? 'top:50%':'' %>">
    <div class="button-container" style="<%=locals.action? 'display:none':'' %>">
      <div class="button-holder">
        <button id="signup-btn" class="centered start-btn">Get Started</button>
        <p class="centered start-text">
          Already have an account?<br>
          <a id="login-btn" class="start-link">Log In</a>
        </p>
      </div>
    </div>
  </div>
  <div class="form-holder">
    <div class="back-btn back"></div>
    <% if (locals.error && locals.error == 1) {%>
      <div class="errorMsg">Invalid username or password.</div>
    <% }%>
    <form enctype="application/x-www-form-urlencoded" method="post" class="login-form">
      <div class="login-header">
        <h3>Login</h3>
      </div>
      <div style="font-size: 13.5pt;">
        Username:<br>
        <input class="text" type="text" name="username" style="width: 100%;height: 35px;">
        <br>
        <br>
        Password:<br>
        <input class="text" type="password" name="password" style="width: 100%;height: 35px;">
      </div>
      <br>
      <input type="submit" value="Log In" style="width: 120px;">
      <input name="action" id="action" type="hidden" value="<%- locals.action %>">
    </form>
  </div>
</div>

</body>

</html>